/bin
/logs/
/ggp-base.jar
/.gradle/
/build/

# Ignoring testing/: the folder with scores from testing games. 
testing/

# Ignoring arbitrary other .class and .pyc files that might wind up elsewhere.
*.class
*.pyc

# Ignoring a pyDev project file
# It's for editing Python in Eclipse with some dot completion, etc. 
# Unliked eclipse project files that gradle uses, no sense saving it. 
.pydevproject

